<ion-header>
  <ion-navbar>
    <ion-title>{{ceramic.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <div>
        <h5>Select a file for upload:</h5>
        <input type="file" (change)="upload($event)" accept=".png,.jpg" />
      </div>
      <div>
        <progress max="100" [value]="(uploadProgress | async)"></progress>
      </div>
      <div>
        <button ion-button (click)="task.pause()">Pause</button>
        <button ion-button (click)="task.cancel()">Cancel</button>
        <button ion-button (click)="task.resume()">Resume</button>
      </div>
    </ion-item>
    <ion-item>
        <button ion-button (click)="getURL()">get URL</button>
      File upload here:
      <!-- <div *ngIf="downloadURL | async; let downloadSrc"> -->
        <div *ngIf="downloadURL">
        File uploaded:
        <a [href]="downloadSrc">{{downloadSrc}}</a>
      </div>
    </ion-item>
    <ion-item>
      {{ceramic.id}}
    </ion-item>
    <ion-item>
      {{ceramic.name}}
    </ion-item>
    <!-- <ion-item >
      <ion-slides>
        <ion-slide *ngFor="let slide of slides">
          <h1>Slide 1</h1>
          <img src="gs://kiln-6c7af.appspot.com/z7s3mijloxc">
        </ion-slide>
        <ion-slide *ngFor="let slide of slides">
            <h1>Slide 1</h1>
            <img src="https://firebasestorage.googleapis.com/v0/b/kiln-6c7af.appspot.com/o/z7s3mijloxc?alt=media&token=2b59d148-761c-49f0-a267-42697f20a64b">
          </ion-slide>
      </ion-slides>
    </ion-item> -->
    <ion-item>
      <ion-label>Tracking</ion-label>
      <ion-select [(ngModel)]="location" multiple="false" cancelText="Cancel" okText="Select">
        <ion-option value="Bisque">Bisque</ion-option>
        <ion-option value="Glaze">Glaze</ion-option>
        <ion-option value="Greenware" selected="true">Greenware</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Glaze</ion-label>
      <ion-select [(ngModel)]="glaze" multiple="true" cancelText="Cancel" okText="Select">
        <ion-option value="Black">Black</ion-option>
        <ion-option value="White">White</ion-option>
        <ion-option value="Matte Blue">Matte Blue</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      {{glaze}}
    </ion-item>
    <ion-item>
      Weight
    </ion-item>
    <ion-item>
      Height
    </ion-item>
    <ion-item>
      Description
    </ion-item>
  </ion-list>
</ion-content>